.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* height: 500px; */
  gap: 20px;
  padding: 20px;
}

.recipe-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: clip;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-card h3 {
  font-size: 18px;
  margin: 10px;
}

.recipe-card .cuisine {
  color: #7c0d64;
  margin: 0 10px;
}

.recipe-card .description {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #17152a;
  margin: 10px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-card button {
  background: #abcd21;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.recipe-card button:hover {
  background: #388e3c;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(114, 112, 112, 0.477);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.modal img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  margin: 8px 0;
}

.instructions {
  text-align: justify;
}

.ingredients{
  text-align: justify;
}

.mealType{
  text-align: justify;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  text-align: center;
  border-radius: 75%;
  /* background: red;
  color: white;
  border: none;
  border-radius: 50%; */
  width: 30px;
  height: 30px;
  cursor: pointer;
}